In [1]:
import statsmodels.api as sm

# 次元数がRのspamデータと違います．
dataset = sm.datasets.get_rdataset("spam7", "DAAG")
dataset.data

      crl.tot  dollar   bang  money  n000  make yesno
0         278   0.000  0.778   0.00  0.00  0.00     y
1        1028   0.180  0.372   0.43  0.43  0.21     y
2        2259   0.184  0.276   0.06  1.16  0.06     y
3         191   0.000  0.137   0.00  0.00  0.00     y
4         191   0.000  0.135   0.00  0.00  0.00     y
...       ...     ...    ...    ...   ...   ...   ...
4596       88   0.000  0.000   0.00  0.00  0.31     n
4597       14   0.000  0.353   0.00  0.00  0.00     n
4598      118   0.000  0.000   0.00  0.00  0.30     n
4599       78   0.000  0.000   0.00  0.00  0.96     n
4600       40   0.000  0.125   0.00  0.00  0.00     n

[4601 rows x 7 columns]